
.aboutContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
    color: #fff;
   
}

.gameCard, .chatCard, .postsCard{
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(77, 156, 217);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    margin: 20px;
}
